body {
	background: #3b3c41;
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
/*	padding-bottom:44px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode and on Android. */
}
 
#header {
	position: relative;
	width:100%;
	height:45px;
	line-height:45px;
	padding: 0;
	border-bottom: 2px solid #2d2d2d;
	background: #3b3c41;
	color:#2d2d2d;
	font-size: 20px;
	text-align:center;
	z-index: 2;
}
	
 
#container {
	height:245px;		/* Of course you need to specify the object height */
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	width:100%;
	overflow:hidden;
}
 
#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0; 
}
 
#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}
 
.songs-list li {
	overflow: hidden;
	padding:10px;
	border-top:1px solid #4f5258;
	border-bottom:1px solid #2c2f32;
	font-size:14px;
	line-height: 120%;
	color: #fff;
}

.songs-list .separator {
	padding: 5px 10px;
	background: #ff3300;
	border-top-color: #ff6500;
	border-bottom-color: #cb2900;
	font-size: 12px;
	font-weight: bold;
}

.songs-list .album-cover {
	width: 52px;
	height: 52px;
	margin-right: 10px;
	background: transparent url('../images/no_album.png');
	float: left;
}

.songs-list .title {
	margin: 2px 0 8px 0;
	font-size: 14px;
	font-weight: bold;
}

.songs-list .vote-btn, .songs-list .vote-btn:hover, .songs-list .vote-btn:active, .songs-list .vote-btn:visited {
	display: block;
	float: right;
	margin-top: 10px;
	padding: 8px 10px;
	background: #ff3300;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.songs-list .vote-btn:active, .songs-list .vote-btn.click {
	background: #cb2900;
}